version: "3.8"

# ripper has an AMD Ryzen Threadripper 2990WX, 64 threads in total,
# with 64 GB of RAM, and 12 GB of VRAM.

services:
  buildkite:
    hostname: ripper
    build:
      context: ../../image/
      args:
        base: nvidia/cuda:12.3.1-devel-ubuntu20.04
    runtime: nvidia
    environment:
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"
      JULIA_CPU_THREADS: 2
    pid: "host" #  NVIDIA/gpu-monitoring-tools#63
    devices:
      - "/dev/dri:/dev/dri"
    env_file: ../token.env
    command:
      - start
      - --disconnect-after-job
      - --hooks-path=/hooks
      - --tags=queue=benchmark,cuda,cap=sm_89,cap=recent,gpu=rtx4070
      - --name=ripper
      - --priority=3
    volumes:
      - /home/buildkite:/root
