[Unit]
Description=Buildkite agent %i
Requires=docker.service
Wants=network-online.target
After=docker.service network-online.target
PartOf=docker.service

StartLimitIntervalSec=60
StartLimitBurst=10


[Service]
Type=simple
WorkingDirectory=/etc/buildkite/agents/%i
TimeoutStartSec=30min
ExecStartPre=/usr/bin/flock /tmp/buildkite.lock /usr/bin/git fetch
ExecStartPre=/usr/bin/flock /tmp/buildkite.lock /usr/bin/git reset --hard origin/main
ExecStartPre=/usr/local/bin/docker-compose build --quiet
ExecStart=/usr/local/bin/docker-compose up --force-recreate --exit-code-from buildkite

Restart=always
RestartSec=1s


[Install]
WantedBy=multi-user.target
