[Unit]
Description=Buildkite agent %i
After=docker.service
Requires=docker.service
PartOf=docker.service

[Service]
Type=simple
WorkingDirectory=/etc/buildkite/agents/%i
TimeoutStartSec=15min
ExecStartPre=/usr/bin/git fetch
ExecStartPre=/usr/bin/git reset --hard origin/main
ExecStartPre=/usr/local/bin/docker-compose build --quiet
ExecStart=/usr/local/bin/docker-compose up --force-recreate --exit-code-from buildkite
Restart=on-success

[Install]
WantedBy=multi-user.target
