version: "3.8"

# gpuci has 2 AMD EPYC 7402 CPUs, 48 threads in total, with 504GB of RAM

services:
  buildkite:
    hostname: gpuci.14
    build:
      context: ../../image/
      args:
        base: nvidia/cuda:12.3.2-devel-ubuntu20.04
    runtime: nvidia
    environment:
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"
      NVIDIA_VISIBLE_DEVICES: "MIG-b8003f6b-3377-59d6-8e43-6f087b3fad50"
      JULIA_CPU_THREADS: 2
    pid: "host" #  NVIDIA/gpu-monitoring-tools#63
    env_file: ../token.env
    command:
      - start
      - --disconnect-after-job
      - --hooks-path=/hooks
      - --tags=queue=juliagpu,cuda,cap=sm_80,gpu=a100,cap=recent
      - --name=gpuci.14
      - --priority=4
    volumes:
      - /home/buildkite/gpuci.14:/root
